openapi: 3.2.0
info:
  title: Gitcoin Grants API
  contact:
    name: Gitcoin Support
    url: https://support.gitcoin.co/
  termsOfService: https://gitcoin.co/terms
  version: '1.0'
  description: 'Operations tagged Grants across 2 of this provider''s published API definitions: gitcoin-core-api-openapi.json, gitcoin-grants-api-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://gitcoin.co/api/v0.1
  description: Gitcoin API v0.1
- url: https://gitcoin.co
  description: Gitcoin main server
tags:
- name: Grants
  description: Operations related to Gitcoin grants
paths:
  /grants/:
    get:
      operationId: listGrants
      summary: List Grants
      description: Returns a list of grants and their metadata including funding amounts, contributor addresses, and project information.
      tags:
      - Grants
      parameters:
      - name: title
        in: query
        description: Filter grants by title
        schema:
          type: string
      - name: admin_address
        in: query
        description: Filter grants by admin Ethereum address
        schema:
          type: string
          pattern: ^0x[a-fA-F0-9]{40}$
      - name: description
        in: query
        description: Filter grants by description text
        schema:
          type: string
      - name: keyword
        in: query
        description: Filter grants by keyword
        schema:
          type: string
      - name: grant_type
        in: query
        description: Filter by grant type
        schema:
          type: string
      - name: pk
        in: query
        description: Return a single grant by its primary key ID
        schema:
          type: integer
      - name: limit
        in: query
        description: Limit number of results returned
        schema:
          type: integer
          example: 10
      - name: offset
        in: query
        description: Offset for pagination
        schema:
          type: integer
      responses:
        '200':
          description: A list of grants
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Grant'
    servers:
    - url: https://gitcoin.co/api/v0.1
      description: Gitcoin API v0.1
  /grants/grants.json:
    get:
      operationId: getAllGrants
      summary: Get All Grants
      description: Returns a full list of grants on the platform along with the addresses you can contribute to them at.
      tags:
      - Grants
      responses:
        '200':
          description: A list of all grants
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GrantExport'
    servers:
    - url: https://gitcoin.co
      description: Gitcoin main server
components:
  schemas:
    Grant:
      type: object
      description: A Gitcoin grant representing a public goods funding project
      properties:
        active:
          type: boolean
          description: Whether or not the Grant is active
        title:
          type: string
          description: Title of the Grant
        slug:
          type: string
          description: Slug for the Grant populated from title
        description:
          type: string
          description: Description of the Grant
        reference_url:
          type: string
          format: uri
          description: Associated reference URL of the Grant
        logo:
          type: string
          format: uri
          description: URL of the Grant logo image
        admin_address:
          $ref: '#/components/schemas/EthereumAddress'
          description: Wallet address of the Grant Admin where subscription funds will be sent
        amount_received:
          type: number
          format: float
          description: Total amount of contributions received by the Grant in USDT/DAI
        token_address:
          $ref: '#/components/schemas/EthereumAddress'
          description: Address of the token to be used with the Grant
        token_symbol:
          type: string
          description: Type of token to be used with the Grant
        contract_address:
          $ref: '#/components/schemas/EthereumAddress'
          description: Contract address of the Grant
        metadata:
          type: object
          description: Miscellaneous metadata about the Grant
        network:
          type: string
          description: Network in which the Grant contract resides
        required_gas_price:
          type: number
          format: float
          description: Required gas price for the Grant
        admin_profile:
          $ref: '#/components/schemas/Profile'
          description: Grant Admin's profile
        team_members:
          type: array
          items:
            $ref: '#/components/schemas/Profile'
          description: Array of team members contributing to this Grant
    EthereumAddress:
      type: string
      pattern: ^0x[a-fA-F0-9]{40}$
      description: An Ethereum wallet address with leading 0x
      example: '0x636f3093258412b96c43bef3663f1b853253ec59'
    Profile:
      type: object
      description: Gitcoin user profile
      properties:
        id:
          type: integer
          description: Profile ID
        url:
          type: string
          format: uri
          description: URL to the Gitcoin profile
        handle:
          type: string
          description: GitHub handle/username associated with the Profile
        keywords:
          type: array
          items:
            type: string
          description: Array of keywords associated with the Profile
        position:
          type: integer
          description: Position of the Profile in the Weekly Earners leaderboard
        avatar_url:
          type: string
          format: uri
          description: URL to the Gitcoin Avatar of the Profile
        github_url:
          type: string
          format: uri
          description: URL to the GitHub profile
        total_earned:
          type: number
          format: float
          description: Sum of ETH collected by the profile
        organizations:
          type: object
          description: Dictionary containing profiles that this user works with
    GrantExport:
      type: object
      description: A grant listing from the grants export endpoint
      properties:
        id:
          type: integer
          description: Grant ID
        title:
          type: string
          description: Title of the Grant
        slug:
          type: string
          description: URL slug for the Grant
        description:
          type: string
          description: Description of the Grant
        url:
          type: string
          format: uri
          description: URL to the grant on Gitcoin
        admin_address:
          $ref: '#/components/schemas/EthereumAddress'
          description: Wallet address of the Grant Admin
        token_address:
          $ref: '#/components/schemas/EthereumAddress'
          description: Token address for contributions
        token_symbol:
          type: string
          description: Token symbol (e.g., ETH, DAI)
        amount_received:
          type: number
          format: float
          description: Total amount received in USDT/DAI
        active:
          type: boolean
          description: Whether the grant is currently active
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: query
      name: _key
      description: API key obtained from the response body's meta.api_key field after authenticating via the GitHub authentication flow
    ApiSecretAuth:
      type: apiKey
      in: query
      name: _secret
      description: API secret used alongside the API key for authentication
    GitHubAuth:
      type: openIdConnect
      openIdConnectUrl: https://github.com/.well-known/openid-configuration
      description: GitHub OAuth authentication for Gitcoin
x-refined-from:
- gitcoin-core-api-openapi.json
- gitcoin-grants-api-openapi.json
